# Environment files
.env
firebase-service-account.json

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Frontend build artifacts
frontend/build/

# Operating system files
.DS_Store
Thumbs.db

**/node_modules/.cache
